<% include partials/head.ejs %>
<% include partials/header.ejs %>

	<div class="wrapper">
		<div class="container">
			<h2><%= message %></h2> 
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, possimus, ut? Officiis, saepe! Modi maiores nobis, dolore quasi ducimus eaque fugit. Magnam vero voluptas corporis adipisci beatae reiciendis quos repellat.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, possimus, ut? Officiis, saepe! Modi maiores nobis, dolore quasi ducimus eaque fugit. Magnam vero voluptas corporis adipisci beatae reiciendis quos repellat.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, possimus, ut? Officiis, saepe! Modi maiores nobis, dolore quasi ducimus eaque fugit. Magnam vero voluptas corporis adipisci beatae reiciendis quos repellat.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, possimus, ut? Officiis, saepe! Modi maiores nobis, dolore quasi ducimus eaque fugit. Magnam vero voluptas corporis adipisci beatae reiciendis quos repellat.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, possimus, ut? Officiis, saepe! Modi maiores nobis, dolore quasi ducimus eaque fugit. Magnam vero voluptas corporis adipisci beatae reiciendis quos repellat.</p>
		</div>
	</div>

<% include partials/footer.ejs %>

